.explore_box {
    position: relative;
}

.explore_blur {
    
    background: linear-gradient(94.33deg, rgba(255, 255, 255, 0.6) 3.19%, rgba(255, 255, 255, 0.1) 99.26%);
    position: absolute;
    bottom: -2.5rem;
    left: 2rem;
    width: 424px;
    height: 100px;
padding: 1rem ;
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

.exp_para {
    margin-bottom: .5rem;
}

.explore_btn {
    background: linear-gradient(90deg, #FF594C 0%, #FAC527 100%);
    border-radius: 10px;
    max-width: 70px;
    width: 80px;
    min-height: 30px;
    height: 30px;
    border: none;
}

.explore_btn_book {
    background: linear-gradient(90deg, #FF594C 0%, #FAC527 100%);
    border-radius: 10px;
    border: none;
    max-width: 100px;
    min-width: 80px;
    height: 40px;
    left: 394px;
}

.explore_btn_flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;


}
.explore_buttons{
    display: flex;
    gap: 10px;
}