.hero_sec {
    position: relative;
    width: 100%;
    min-height: 650px;
    background: url(../../../public/assets/heroimg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


.herSec_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 20, 20, 0.25);
}

.heroSec_Text {
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    color: white;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroSec_Para p {
    line-height: 2;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    height: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
}


.heroSec_calender {
    position: relative;
    border: 1px solid white;
    border-bottom: 1px solid rgba(250, 250, 250, 0.4);
    margin-top: 80px;
    margin-bottom: 48px;
    max-width: 940px;
    min-height: 85px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(94.43deg, rgba(249, 249, 249, 0.49) 34.95%, rgba(249, 249, 249, 0.175) 67.01%);
    backdrop-filter: blur(5px);
    border-radius: 30px;
}

.downImg_arrow {

    display: flex;
    justify-content: center;
    align-items: center;
}


.date_picker {
    width: 200px;
    position: absolute;
    top: 74%;
    left: 31.3%;
    border: none;
    font-size: 20px;

}


.heroSec_vector {
    position: absolute;
    top: 92%;
    left: 0;
    right: 0;

}

.heroSec_calender .heroSec_input {
    width: 100%;
    height: 70px;
}

.heroSec_calender .heroSec_btn {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #FF594C 0%, #FAC527 100%);
    border-radius: 16px;

    width: 20%;
    height: 67px;
    border: none;
    padding: 0.25px;
    font-size: 20px;
    color: white;
}



@media screen and (max-width: 480px) {
    .hero_sec {
        height: 100vh;
    }

    .heroSec_input {
        width: 260px !important;
        height: 60px;
        margin-bottom: 5px;
    }

    .heroSec_calender {
        display: flex;
        flex-direction: column;
        margin-top: 48px;
        padding: 16rem;
        width: 300px !important;
        margin-bottom: 16px;
    }


    .date_picker {
        top: 55%;
        left: 39px;
    }

    .heroSec_btn {
        height: 50px;
        width: 98% !important;
    }

    .heroSec_Para p {
        line-height: 10px;
        font-size: 20px;
        font-weight: 100;
    }

    .heroSec_Text {
        font-size: 35px;
        margin-bottom: 32px;
    }

    .heroSec_Para {
        text-align: center;
    }

    .heroSec_bg {
        position: relative;
    }

    .arroW_Img {
        position: absolute;
        bottom: 20px
    }

    .heroSec_Para p {
        margin-top: 16px;
    }

}


@media only screen and (max-width: 994px) and (min-width: 768px) {
    .heroSec_vector {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .heroSec_calender .heroSec_input {
        width: 258px !important;
        height: 60px;
    }

    .hero_sec {
        height: 70vh
    }

    .heroSec_Text {
        margin-top: 32px;
        font-size: 45px;
        margin-bottom: 0;
    }

    .heroSec_bg {
        position: relative;
    }

    .downImg_arrow {
        position: absolute;
        text-align: center;
        bottom: 10px;
        right: 50%;
    }

    .heroSec_input {
        margin-bottom: 5px;
    }

    .heroSec_calender {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        padding: 16px;
        width: 400px;
    }

    .heroSec_btn {
        width: 98% !important;
    }

    .heroSec_vector {
        display: none;
    }

}

@media only screen and (min-width: 1200px) {
    .explore {
        display: none;
    }

    .subHeading_box {
        margin-top: 97px;
        margin-left: 6%;
    }



}