li {
    cursor: pointer;
}

.header_sec {
    position: relative;
    color: white;
    background: transparent;
    padding: 1rem 2rem;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_logo h1 {
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
}

.header_nav_list .header_unorder_list {
    font-family: 'Exo 2', sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.header_btn {
    color: white;
    width: 80px;
    max-width: 100px;
    padding: .5rem;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: transparent;

}

.header_list {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.headerIconDown_arrow {
    font-size: 1.5rem;
    position: absolute;
    left: 50px;
    top: 3px;
}

.menuBar {
    display: none;
}

.togleDiv {
    display: none;
}

@media screen and (max-width: 768px) {

    .header_nav_list {
        display: none;
    }

    .menuBar {
        display: block;
        font-size: 2rem;
    }

    .close_hamburger {
        position: relative;
        height: 50px;
    }

    .togleDiv {
        display: block;
        background-color: rgba(255, 255, 255, 0.4);
        width: 100vw;
        position: absolute;
        right: 0;
        top: 0;

    }

    .cross_btn {
        font-size: 30px;
        color: black;
        position: absolute;
        right: 33px;
        top: 21px;
    }

    .header_unorder_list {
        list-style: none;
    }


    .header_list {
        padding: 15px 20px;
        color: black;
        background-color: rgb(225, 234, 236);
    }

    .header_list:hover {
        background-color: rgb(196, 192, 192);
    }
    .header_logo h1 {
        font-size: 30px;
    }
    .menuBar {
        display: block;
    }
}