.explore {

    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Ubuntu';

}

.heading {
    font-family: 'Exo 2';
    font-size: 64px;
    font-weight: bold;
}



.explore_para {
    line-height: 20px;
    margin-bottom: 4px;
    margin-top: 21px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.explore_boxes {

    padding-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.exploreBlur {
    width: 100%;
}

.explore_btn_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.explore_box {
    position: relative;

}


.explore_blur {
    width: 450px;
    padding: 20px;
    position: absolute;
    top: 260px;
    left: 20px;
    background: linear-gradient(94.33deg, rgba(255, 255, 255, 0.6) 3.19%, rgba(255, 255, 255, 0.1) 99.26%);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

.explore_btn {
    font-weight: 600;
    width: 80px;
    height: 30px;
    background: linear-gradient(90deg, #FF594C 0%, #FAC527 100%);
    border-radius: 10px;
    border: none;
}

.explore_btn_book {
    margin-bottom: 22px;
    font-weight: 600;
    border: none;
    width: 100px;
    height: 50px;
    background: linear-gradient(90deg, #FF594C 0%, #FAC527 100%);
    border-radius: 10px;
}

.explore_buttons {
    display: flex;
    gap: 30px;
}

@media only screen and (max-width: 600px) {
    .explore {
        display: none;
    }
}


@media only screen and (min-width: 600px) {
    .explore {
        display: none;
    }
}


@media only screen and (min-width: 768px) {
    .explore {
        display: none;
    }
}


@media only screen and (min-width: 992px) {
    .explore {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .explore {
        display: block;
    }

    .subHeading_box {
        margin-top: 85px;
        margin-left: 6%;
    }



}