.explore {
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-family: 'Ubuntu';

}

.heading {
    font-family: 'Exo 2', sans-serif;
    font-size: 40px
}

.explore_para {

    margin-bottom: 48px;
    margin-top: 21px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.explore_boxes {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    align-items: center;
    gap: 20px;
}