.footer_sec {
    padding-bottom: 20px;
    font-family: 'Exo 2';
    color: black;
    display: flex;
    justify-content: space-around;

}

.footerHead {
    margin-top: 16px;
    font-size: 45px;
    margin-bottom: 40px;
    font-family: 'Dancing Script';
}

.footer_unorder_list {
    margin-top: 16px;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.footer_log_para {
    font-size: 14px;
}

.footer_list_ {
    color: black;
    list-style: none;
}

.footer_btn {
    font-size: 20px;
    width: 131px;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: white;
}

@media screen and (max-width: 480px) {
 .footer_sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
 }
 .footer_unorder_list{
    display: flex;
    flex-direction: column;
 }

}