.footer_sec {
    
    margin-top: 2rem;
    padding: 1rem 2rem;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.footer_logo h1 {
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
}
.footer_nav_list .footer_unorder_list {
    font-family: 'Exo 2', sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
   gap: 4rem;
   color: black;
}
.header_list_{
    color: black;
}
.footer_btn {
    color: black;
    width: 80px;
    max-width: 100px;
    padding: .5rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent;
}
.footer_log{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    margin-top: 1rem;
}
.footer_logo{
    margin-top: 1rem;
    
}

@media screen and (max-width: 756px) {

    
    .footer_sec {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .footer_unorder_list {
        display: flex;
        flex-direction: column;
    }

}
