
.heroSec_calender .heroSec_input {
  
    padding: .5rem;
    display: flex;
    flex-direction: column;
 width: 24%;
    color: white;
    border-radius: 10px;
    background-color: white;
}

.heroSec_input .heroSec_lable {
    font-family: 'Exo 2';
    font-size: 14px;
    color: #6D6D6D;
    margin-left: 9px
}

.inputSec {
    font-size: 20px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    
}
input::placeholder{

    color: black;
}
.inputSec:focus{
    outline: none;
    border: none;
}